body {
  background-color: #cecbc3;
  font-weight: bold;
  color: #9e886c;
}

div {
    padding: 3px;
}

input {
    margin: 0 0.5rem;
}

#all-contents {
    padding: 0;
}

#header {
    background-color: #2b3746;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
}

#header h1 {
    font-weight: bold;
    color:coral;
    font-size: 3rem;
}

#main-contents {
    background-color: white;
    max-width: 60%;
    margin: auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.34);
    padding: 0;
}

#new-user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 20rem;
}

#user {
    font-weight: bold;
    font-size: 1.4rem;
    color: crimson;
    width: 15rem;
    cursor: pointer;
}

#user-section {
    display: flex;
    flex-direction: row;
    background-color: #e1e1ec;
    padding: 1rem;
}

#user-section-avatar {
    height: 12rem;
    box-shadow: 0 0 3px grey;
    border-radius: .3rem;
}

#new-tweet-container {
    padding: .5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: hidden;
}

#post-message-button {
    width: 5rem;
}

#feed-header {
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
}

#feed-settings, #head-avatar-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#header-avatar {
    height: 5rem;
    box-shadow: 0 0 2px grey;
    margin: 2px;
}

.tweet-avatar {
    height: 1.8rem;
}

#feed-header-title {
    color: coral;
    margin: 1rem 0 0 0;
    display: inline;
}

#tweets-per-page {
    margin-right: 0;
    padding-left: .2rem;
}

.tweet {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px #00000059;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.non-tweet{
    box-shadow: none;
}

.tweet-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    cursor: pointer; cursor: hand;
}

.tweet-message {
    margin-left: 5rem;
    margin-top: -0.4rem;
    font-size: 1.2rem;
    color: #9262bf;
    font-style: oblique;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: baseline;
    font-weight: 200;
}




.tag {
    color: #e97950;
    cursor: pointer;
}

.user {
    font-weight: bold;
    color: #7b6659;
}

.time-stamp {
    font-size: 90%;
    font-style: italic;
    color: #b18b68;
    font-weight: 100;
}

#tweet-feed-container {
    padding: 2rem 3rem;
}

#feed-footer {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}