body {
  background-color: #dde5e6;
}

div {
    padding: 3px;
}

input {
    margin: 0 0.5rem;
}

#header {
    background-color: #2b3746;
}

#main-contents {
    background-color: white;
    max-width: 60%;
    margin: auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.34);

}

#user {
    font-weight: bold;
    font-size: 1.4rem;
    color: crimson;

}

#feed-head {
    display: flex;
    flex-direction: column;
}

#feed-settings, #head-avatar-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#feed-header-title {
    color: coral;
    margin: 1rem 0 0 0;
    display: inline;
}

#tweets-per-page {
    margin-right: 0;
}

.tweet {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px #00000059;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.tweet-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 0;
    cursor: pointer; cursor: hand;
}

.tweet-message {
    margin-left: 2rem;
    margin-top: -0.4rem;
    font-size: 1.2rem;
    color: #9262bf;
    font-style: oblique;
    padding-bottom: 0.5rem;
   
}

.user {
    font-weight: bold;
    color: #7b6659;
}

.time-stamp {
    font-size: 90%;
    font-style: italic;
    color: #b18b68;
}

#tweet-feed-container {

    padding: 10px;
}

#feed-footer {
    display: flex;
}
